# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

<b/>Objectives<b/>
* List popular languages in Data Science field
* Libraries used by Data Scientits
* Making a table with markdown cell
* Evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. C++
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

|Data Science Tools|
|:--|
|Jupyter Notebook|
|GitHub|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
#This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Seokwon Daniel Lee